
:root {
    --VerdeOliva: #556B2F;
    --VerdeCampo: #4CAF50;
    --AzulCéu: #87CEEB;
    --AmareloGirassol: #FFD700;
    --LaranjaSol:#FFA500;
    --MarromChocolate:#D2691E;
    --MarromTerra:#8D6E63;
}


