.header{
    height: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.header img{
    height: 80%;
    width: auto;
}

.headernavigation-list{
    display: flex;
    list-style-type: none;
}

.headernavigation-item a{
    color: var(--MarromTerra);
    margin-left: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    border-radius: 5px;
    transition: background 0.5s ease-in-out;
}

/* O (.active) deve estar junto com a tag */
.headernavigation-item a.active{
    color: white;
    background:var(--MarromTerra);;
}

