.btn-adicionar-indicador{
    background-color: #84a147;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-adicionar-indicador:active{
    background-color: #3a5012;
}

.icone-edit-delete{
    cursor: pointer;
    background-color: transparent;
    color: var(--MarromEscuro);
    border:none;
    transition: background-color 0.3s ease;
}


.icone-edit-delete:active{
    background-color: #cccccc;
}