.imagem-cadastro-boletim{
    max-height: 180px;
    min-height: 125px;
    min-width: 91px;
}

ul {
    padding-left: 0;
}
.container-lista-conteudos {
    box-shadow: 0 0px 6px 0 rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 20px;
}

.lista-conteudos{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.45rem;
    background-color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, font-weight 0.15s ease-in-out, border-bottom 0.15s ease-in-out;

}

.lista-conteudos:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn-modal{
    background-color: #84a147;
    color: #fff;
    border-color: #84a147;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-modal:hover {
    background-color: var(--VerdeOliva);
    border-color: var(--VerdeOliva);
}

.btn-modal:active {
    background-color: #4a7716;
    border-color: #4a7716;
}

.btn-edit-delete{
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, font-size 0.15s ease-in-out;
}
.btn-edit-delete:hover {
    font-size: 1.15rem;
}

.btn-edit-delete:active {
    border:none;
}

